.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.task-status {
  margin-right: 8px;
  font-size: 24px;
}

.done {
  color: var(--color-success);
}

.not-done {
  color: var(--color-warn);
}
