<div>
  <button mat-raised-button color="primary" (click)="createLayer('flatten')">
    Flatten Layer
  </button>
  <button mat-raised-button color="primary" (click)="createLayer('dense')">
    Dense Layer
  </button>
  <button mat-raised-button color="primary" (click)="createLayer('convolution')">
    Convolution Layer
  </button>
</div>
<div class="ui-container">
  <svg id="svg-container">
    <g id="inner-svg-container"></g>
  </svg>
  <div *ngIf="configuration">
    <h2>{{configuration.title}}</h2>
    <app-dynamic-layer-form [parameterConfig]="configuration.formConfig"
                            [form]="layerForm"></app-dynamic-layer-form>
  </div>
</div>
<button mat-raised-button color="warn" (click)="printModelSummary()">
  Print Model Summary
</button>
