.ui-container {
  display: flex;
  flex-direction: row;

  #svg-container {
    height: 600px;
    width: 1200px;
    border: 1px solid black;
    margin-right: 20px;

    #inner-svg-container {
      height: 100%;
      width: 100%;
    }
  }
}

.connection {
  stroke: gray;
  stroke-width: 3;
  stroke-dasharray: 8,8;
}

.layer-group {
  .layer {
    cursor: default;
    stroke: black;
    stroke-width: 1;
  }

  .input-anchor-group {
    fill: red;

    &.hovered {
      fill: yellow;
    }
  }

  .output-anchor-group {
    fill: blue;

    &.hovered {
      cursor: crosshair;
    }
    &.dragged {
      fill: yellow;
    }
  }
  &.selected {
    .layer {
      fill: lightgray !important;
    }
  }

  &.hovered {
    .selectable {
      cursor: pointer;
    }

    .layer {
      stroke: red;
      stroke-width: 3;
    }
  }
}

#modelSummaryContainer {
  margin: 0;
}
