.ui-container {
  display: flex;
  flex-direction: row;

  #svg-container {
    height: 600px;
    width: 1200px;
    border: 1px solid black;
    margin-right: 20px;
    //flex: 1;

    #inner-svg-container {
      height: 100%;
      width: 100%;
    }
  }
}
