.box-container {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  border: 1px solid black;
  padding: 20px;
  margin: 0.5em;
}
.layer-components-container {
  .layer-components {
    padding: 10px;
  }

  .layer-component-buttons {
    border-left: 3px solid black;
  }
  h3 {
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;
  }
  button {
    border-radius: 25px !important;
  }
}

.ui-container {
  display: flex;
  flex-direction: row;

  #svg-container {
    height: 600px;
    width: 80%;
    min-width: 80%;

    #inner-svg-container {
      height: 100%;
      width: 100%;
    }
  }
  .layer-components {
    flex-grow: 1;
  }
}

.connection {
  stroke: gray;
  stroke-width: 3;
  stroke-dasharray: 8,8;
}

.layer-group {
  .layer {
    cursor: default;
    stroke: black;
    stroke-width: 1;
  }

  .input-anchor-group {
    fill: red;

    &.hovered {
      fill: yellow;
    }
  }

  .output-anchor-group {
    fill: blue;

    &.hovered {
      cursor: crosshair;
    }
    &.dragged {
      fill: yellow;
    }
  }
  &.selected {
    .layer {
      fill: lightgray !important;
    }
  }

  &.hovered {
    .selectable {
      cursor: pointer;
    }

    .layer {
      stroke: red;
      stroke-width: 3;
    }
  }
}

#modelSummaryContainer {
  margin: 0;
}
