<div class="project-export-section">
  <h3 class="section-heading">Project Export</h3>
  <p>Export your project files as a ZIP archive or in store them in Localstorage, enabling you to import and use them later for future use.</p>
  <div>
    <mat-checkbox class="all-checkbox"
                  color="accent"
                  [checked]="allChecked"
                  [indeterminate]="someChecked()"
                  (change)="setAll($event.checked)">
      Everything
    </mat-checkbox>
    <ul>
      <li *ngFor="let section of sections|keyvalue: fixedOrder">
        <mat-checkbox color="primary"
                      [(ngModel)]="section.value.checked"
                      [disabled]="section.value.disabled"
                      (ngModelChange)="updateAllChecked()">
          {{section.value.name}}
        </mat-checkbox>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="export()">Export as ZIP</button>
    <button mat-raised-button color="primary" (click)="saveInLocalStorage()">Store in Localstorage</button>
  </div>
</div>
<div class="tf-export-section">
  <h3 class="section-heading">Tensorflow Model Export</h3>
  <p>Export your trained model with 'weights.bin' and 'model.JSON' for Python Tensorflow projects.</p>
  <button mat-raised-button color="primary" (click)="saveModel()">Export TF Model</button>
</div>
