<div>
  <mat-checkbox class="all-checkbox"
                color="accent"
                [checked]="allChecked"
                [indeterminate]="someChecked()"
                (change)="setAll($event.checked)">
    Everything
  </mat-checkbox>
</div>
<div>
  <ul>
    <li *ngFor="let subProject of subProjects|keyvalue">
      <mat-checkbox color="primary"
                    [(ngModel)]="subProject.value.checked"
                    (ngModelChange)="updateAllChecked()">
        {{subProject.value.name}}
      </mat-checkbox>
    </li>
  </ul>
</div>
<button mat-raised-button color="accent" (click)="export()">Export Project</button>
    <button mat-raised-button color="primary" (click)="saveModel()">
      Save Model
    </button>
    <button mat-raised-button color="secondary" (click)="showAllModels()">
      Show all saved Models
    </button>
    <button mat-raised-button color="secondary" (click)="loadModel()">
      Load Model
    </button>
