.percentage-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem .5rem;
}

.epoch-display {
  font-weight: bold;
}

.training-toggles {
  margin-top: 0 !important;
}

.training-stats-container {
  width: 400px;
  margin: .5rem;
}

.question-mark-icon {
  position: absolute;
  right: 5px;
  cursor: pointer;
  font-size: 16px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .label {
    font-weight: bold;
    flex: 1;
    margin-right: 1rem;
  }

  .value {
    flex: 2;
    text-align: right;
  }
}

.percentage {
  flex: 1;
  text-align: left;
  font-size: 18px;
  color: #007bff;
}

.time {
  flex: 1;
  text-align: right;
  font-size: 18px;
  color: #ff5722;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  //margin-bottom: 20px;
}

.two-column-container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 1;
  margin-right: 1rem;
}

.right-column {
  flex: 1;
  margin-left: 1rem;
}

.tf-content-container {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: .5rem;
}

.warning-message {
  color: var(--color-warn);
}
