<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Trainings Samples:{{ stats.trainingInfo.sampleSize }} |
      Epochs: {{ stats.trainingInfo.epochs }} |
      Batch Size: {{ stats.trainingInfo.batchSize }}</mat-card-subtitle>
    <mat-card-title>#{{historyIndex}} Training </mat-card-title>
    <mat-card-subtitle>{{stats.trainingInfo.example}} - {{stats.trainingInfo.backend}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
        <mat-list-item role="listitem">Epoch: {{ stats.epoch}}</mat-list-item>
        <mat-list-item role="listitem">Batch: {{ stats.batch}}</mat-list-item>
        <mat-list-item role="listitem">Accuracy: {{ stats.accuracy | number:'1.1-2'}}</mat-list-item>
        <mat-list-item role="listitem">Loss: {{ stats.loss | number:'1.1-5'}}</mat-list-item>
      <mat-list-item role="listitem">
        Training Time: {{ stats.trainingTime | date:'mm:ss'}} min
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
