@mixin list() {
  .mat-mdc-list[role="navigation"] {
    .mat-mdc-list-item {
      cursor: pointer;
    }
  }

  .mat-mdc-list-item {
    background-color: #f0f0f0 !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    .mat-mdc-list-item-title {
      font-weight: 500;
    }
  }

}


