<form [formGroup]="form">
  <ng-container *ngFor="let parameter of parameterConfig;">
    <mat-form-field [ngSwitch]="parameter.controlType" subscriptSizing="dynamic" appearance="outline" class="form-element">
      <mat-label [id]="parameter.key">{{parameter.label}}</mat-label>
      <!-- input -->
      <input matInput [id]="parameter.key" [type]="parameter.type" [formControlName]="parameter.key"
             *ngSwitchCase="'textbox'" >
      <!-- select -->
      <mat-select [id]="parameter.key" *ngSwitchCase="'dropdown'" [formControlName]="parameter.key">
        <mat-option *ngFor="let opt of parameter.options | keyvalue" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
      <!-- Question mark icon -->
      <mat-icon *ngIf="parameter.tooltip" class="question-mark-icon" aria-label="Question Mark" [matTooltip]="parameter.tooltip">help</mat-icon>
      <!-- error message-->
      <mat-error *ngIf="form.get(parameter.key)?.hasError('invalidShape')">Invalid shape format</mat-error>
      <!-- hint message-->
      <mat-hint *ngIf="parameter.hint">{{parameter.hint}}</mat-hint>
    </mat-form-field>
  </ng-container>
</form>

