<div class="site-content">
  <section class="home-introduction">
    <h1>Welcome to WebNet</h1>
    <p>
      Welcome to our Drag-and-Drop Neural Network Builder! Unleash the power of artificial intelligence effortlessly.
      Whether you're a seasoned data scientist or just beginning your journey into the world of AI, our intuitive
      platform empowers you to seamlessly build, train, test, and evaluate neural networks—no coding required. Dive into
      the future of innovation and turn your ideas into reality with the click of a mouse. Your journey into the world
      of AI starts here!
    </p>

  </section>
  <h2>Featured Tools</h2>
  <section class="featured-section">
    <div class="tool-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Projects</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Manage your machine learning projects, import/export projects or try out some of our templates.</p>
          <a mat-button color="primary" [routerLink]="['/projects']">Go to Projects</a>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="tool-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Performance Testing</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Test the performance of predefined models using various backends like Web GPU, WebGL and CPU.</p>
          <a mat-button color="primary" [routerLink]="['/testing']">Go to Performance Testing</a>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
