.content-container {
  margin: 1rem auto;
  width: 80%;
}

.card-colored-title {
  color: var(--color-primary);
}

.mat-mdc-list-item:hover {
  .project-name {
    color: var(--color-primary);
  }
}


.projects-card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-message {
  margin-top: 1rem;
  color: var(--color-warn);
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.template-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

