<div class="content-container">
  <mat-card class="projects-card">
    <mat-card-header>
      <mat-card-title class="card-colored-title">Projects Overview</mat-card-title>
      <mat-card-subtitle>List of all Projects you are working on</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="projects && projects.size > 0; else noProjects">
        <mat-list role="navigation">
          <mat-list-item role="listitem" [routerLink]="['/projects/' + project.key]"
                         *ngFor="let project of projects | keyvalue: lastModifiedOrder">
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle class="project-name">{{ project.value.projectInfo.name | uppercase}}</div>
            <div matListItemLine>
              Updated in {{ project.value.projectInfo.storeLocation }} at {{ project.value.projectInfo.lastModified | date: 'd.MMM y, H:mm:ss' }}
            </div>
            <div matListItemMeta>ID: {{ project.value.projectInfo.id }}</div>
            <div matListItemMeta>
              <button mat-icon-button (click)="deleteProject($event, project.value.projectInfo.name)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noProjects>
        <p class="info-message">There are no working projects.</p>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLinkActive="active" (click)="createNewProject()">Create New
        Project
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="flex-container">
    <mat-card class="projects-card">
      <mat-card-header>
        <mat-card-title class="card-colored-title">Project Templates</mat-card-title>
        <mat-card-subtitle>Open Preconfigured Projects</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-radio-group class="template-radio-group" [(ngModel)]="selectedTemplateProject">
          <mat-radio-button class="template-radio-button" *ngFor="let project of templateProjects" [value]="project">
            {{ project | uppercase }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="createProjectFromTemplate(selectedTemplateProject!)"
                [disabled]="!selectedTemplateProject">Create Project from Template
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="projects-card">
      <mat-card-header>
        <mat-card-title class="card-colored-title">Import Project</mat-card-title>
        <mat-card-subtitle>Open Projects via Zip File</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-file-upload (fileEvent)="addFile($event)" [fileType]="'.zip'"></app-file-upload>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!file" mat-raised-button color="primary" (click)="importProject()">Import existing Project
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
