<div class="project-export-section">
  <h3 class="section-heading">Project Export</h3>
  <p>Export your project as ZIP archive or store them in Localstorage, enabling you to import and use them later for future use.</p>
  <div>
    <mat-checkbox class="all-checkbox"
                  color="accent"
                  [checked]="allChecked"
                  [indeterminate]="someChecked()"
                  (change)="setAll($event.checked)">
      Everything
    </mat-checkbox>
    <ul>
      <li *ngFor="let section of sections|keyvalue: fixedOrder">
        <mat-checkbox color="accent"
                      [(ngModel)]="section.value.checked"
                      [disabled]="section.value.disabled"
                      (ngModelChange)="updateAllChecked()">
          {{section.value.name}}
        </mat-checkbox>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="exportProject()">Export as ZIP</button>
    <button mat-raised-button color="primary" (click)="saveInLocalStorage()">Store in Localstorage</button>
  </div>
</div>
<div class="tf-export-section">
  <h3 class="section-heading">Tensorflow Model Export</h3>
  <p>Export your trained model with model.json and weights.bin to utilize it in other environments, such as deploying it to production or integrating it into your Python TensorFlow project.</p>
  <button mat-raised-button color="primary" (click)="exportModel()">Export TF Model</button>
</div>
