.plot-flex {
  display: flex;

  .plot-container {
    flex: 1;
    height: 250px;
  }
}

.two-column-container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 1;
  margin-right: 1rem;

  .mat-mdc-selection-list {
    max-height: 500px;
    overflow: auto;
    padding-top: 0;

    .record-date {
      font-weight: 500;
      font-size: small;
      color: #ff4081;
    }

    .mat-mdc-list-item {
      margin-top: 0;
    }
  }

  .load-button {
    width: 100%;
    margin: 1rem 0 0 0;
  }

}

.right-column {
  flex: 5;
  margin-left: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.prediction-container, .model-info {
  margin-bottom: 1rem;
}
