<mat-stepper [linear]="false" #stepper>
  <!--  Dataset  -->
  <mat-step label="Dataset" #dataset_step>
    <div class="dataset-section">
      <p>add Dataset and manipulate data.</p>
    </div>
  </mat-step>
  <!--  Modeling  -->
  <mat-step label="Modeling" #modeling_step>
    <div class="modeling-section">
      <app-nn-builder *ngIf="stepper.selected == modeling_step"></app-nn-builder>
    </div>
  </mat-step>
  <!--  Training  -->
  <mat-step label="Training" #training_step>
    <div class="training-section">
      <app-training></app-training>
    </div>
  </mat-step>
</mat-stepper>
