.site-content {
  margin: 1rem;
}

.active {
  background-color: whitesmoke;
  color: black !important;
}

.site-logo {
  margin: 5px 5px 0 5px;
  img {
    border-radius: 8px;
  }
}

mat-sidenav-container {
  min-height: 100vh;
}

.site-navigation {
  width: 12rem;

  .site-navigation-links {
    padding-top: 0;
  }
}
