.mat-column-position {
  border-right: 1px solid black;
}

.dataset-upload-content, .dataset-view-content, .dataset-config-content {
  margin-left: 0.5em;
  margin-bottom: 1rem;
  width: 70%;
}

.import-button {
  margin-left: 0;
  margin-bottom: 1rem;
}

.slider-container {
  margin: 0.5rem 1rem 1rem 1rem;

  .mat-mdc-slider {
    width: 410px;
  }
}

.bold-section-title {
  font-weight: 500;
  margin-left: 0.5rem;
}

.additional-selection-text {
  opacity: 0.75;
  font-size: 0.75em;
}

.hidden {
  display: none;
}

.additional-info {
  font-size: 10px;
  font-weight: 400;
}

.table-container {
  overflow-x: auto;
}
