.mat-column-position {
  border-right: 1px solid black;
}

.dataset-upload-content, .dataset-view-content, .dataset-config-content {
  margin-left: 0.5em;
  margin-bottom: 1rem;
  width: 90%;
}

.import-button {
  margin-left: 0;
  margin-bottom: 1rem;
}

.slider-container {
  margin: 0.5rem 1rem 1rem 1rem;

  .mat-mdc-slider {
    width: 410px;
  }
}


.additional-selection-text {
  opacity: 0.75;
  font-size: 0.75em;
}

.hidden {
  display: none;
}

.bold-text {
  font-weight: 550;
}

.additional-info {
  font-size: 10px;
  font-weight: 400;

  .unique-values-info {
    line-height: 11px;
    font-size: 10px;
    font-weight: 450;
    font-style: italic;
    color: gray;
  }

  .type-info {
    font-size: 11px;
    line-height: 12px;
  }

  p {
    margin: 0;
  }
}

.table-container {
  overflow-x: auto;
}


