:root {
  --color-primary: #3f51b5;
  --color-accent: #FF5722;
  --color-warn: #F44336;
  --color-success: #4CAF50;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2 {
  margin: 0 !important;
}

.section-heading {
  color: var(--color-primary);
  margin-top: 4px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-primary);
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 500;
}

.bold-section-title {
  font-weight: 500;
  margin-left: 0.5rem;
  margin-bottom: 2px;
}

// SCROLLBAR

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
