@import 'app/material/custom-material-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h2 {
  margin: 0 !important;
}

.section-heading {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
}
